---
import GithubIcon from '~/assets/icons/github.svg';
import TechStackList from './tech_stack_list.astro';
import TaskList from './task_list.astro';
import type { ImageMetadata } from 'astro';

interface Props {
  title: string;
  repository?: string;
  logo?: ImageMetadata;
  job?: string;
  stack: {
    name: string;
    icon: ImageMetadata;
  }[];
  tasks: string[];
}

const { repository, title, stack = [], tasks = [] } = Astro.props;
---

<div class="flex items-center flex-wrap">
  {
    repository === undefined ? (
      <span class="flex items-center me-2">{title}</span>
    ) : (
      <a href={repository} class="flex items-center me-2">
        <img
          src={GithubIcon.src}
          width={24}
          height={24}
          alt="Github"
          class="me-1"
        />
        {title}
      </a>
    )
  }
  <TechStackList stack={stack} />
</div>
<TaskList tasks={tasks} />
