---
import { Image } from 'astro:assets';
import GithubIcon from '~/assets/icons/github.svg';
import TechStackList from './tech_stack_list.astro';
import TaskList from './task_list.astro';
import type { ImageMetadata } from 'astro';
import { css } from '../../styled-system/css';

interface Props {
  title: string;
  repository?: string;
  logo?: ImageMetadata;
  job?: string;
  stack: {
    name: string;
    icon?: ImageMetadata | undefined;
  }[];
  tasks: string[];
}

const { repository, title, stack = [], tasks = [], logo } = Astro.props;
---

<div class={css({ display: 'flex', alignItems: 'center', flexWrap: 'wrap' })}>
  {
    repository === undefined ? (
      <span
        class={css({ display: 'flex', alignItems: 'center', marginRight: 2 })}
      >
        {logo === undefined ? (
          <> </>
        ) : (
          <Image src={logo} width={20} height={20} alt={title} />
        )}
        {title}
      </span>
    ) : (
      <a
        href={repository}
        class={css({ display: 'flex', alignItems: 'center', marginRight: 2 })}
      >
        <Image
          src={GithubIcon}
          width={20}
          height={20}
          alt="Github"
          class={css({ marginRight: 1 })}
        />
        {title}
      </a>
    )
  }
  <TechStackList stack={stack} />
</div>
<TaskList tasks={tasks} />
