---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { css } from '../../styled-system/css';

interface Props {
  stack: {
    name: string;
    icon?: ImageMetadata | undefined;
  }[];
}

const { stack } = Astro.props;
---

<ul class={css({ display: 'flex', gap: 1, alignItems: 'center' })}>
  {
    stack.map((tool) =>
      tool.icon !== undefined ? (
        <li
          data-tool={tool.name}
          class={css({
            width: '20px',
            height: '20px',
            position: 'relative',
            display: 'flex',
            justifyContent: 'center',
            alignItems: 'center',

            _hover: {
              _before: {
                visibility: 'visible',
              },
              _after: {
                visibility: 'visible',
              },
            },

            _before: {
              content: 'attr(data-tool)',
              position: 'absolute',
              top: '-110%',
              left: '50%',
              transform: 'translateX(-50%)',
              visibility: 'hidden',
              fontSize: 'xs',
              rounded: 'md',
              width: 'auto',
              backgroundColor: 'white',
              paddingX: 1,
              paddingY: 0.5,
              borderColor: 'black',
              borderWidth: 1,
              borderStyle: 'solid',
              textWrap: 'nowrap',
            },

            _after: {
              content: '""',
              position: 'absolute',
              visibility: 'hidden',
              width: 2,
              height: 2,
              backgroundColor: 'white',
              transform: 'rotate(45deg)',
              bottom: '75%',
              borderBottomColor: 'black',
              borderRightColor: 'black',
              borderBottomWidth: 1,
              borderRightWidth: 1,
              borderBottomStyle: 'solid',
              borderRightStyle: 'solid',
            },
          })}
        >
          <Image
            src={tool.icon}
            width={20}
            height={20}
            alt={`${tool.name} logo`}
          />
          <span class={css({ visibility: 'hidden', width: '0' })}>
            {tool.name}
          </span>
        </li>
      ) : (
        <li>
          <p class={css({ fontSize: 'xs', fontStyle: 'italic' })}>
            {tool.name}
          </p>
        </li>
      ),
    )
  }
</ul>
