---
import type { ImageMetadata } from 'astro';
import { css } from '../../styled-system/css';

interface Props {
  title: string;
  data: {
    icon: ImageMetadata;
    alt?: string;
    link?: string;
    label: string;
  }[];
}

const { title, data } = Astro.props;
---

<h3
  class={css({
    textTransform: 'uppercase',
    fontWeight: 'semibold',
    marginTop: 2,
    textAlign: 'center',
  })}
>
  {title}
</h3>
<ul
  class={css({
    paddingLeft: 4,
    display: 'flex',
    flexDirection: 'column',
  })}
>
  {
    data.map((entry) => (
      <li class={css({ display: 'flex', alignItems: 'center', paddingTop: 4 })}>
        <img
          width="32px"
          height="32px"
          src={entry.icon.src}
          alt={entry.alt ?? entry.label}
        />

        {entry.link !== undefined ? (
          <a href={entry.link} class={css({ paddingLeft: 2 })}>
            {entry.label}
          </a>
        ) : (
          <span class={css({ paddingLeft: 2, fontSize: 'lg' })}>
            {entry.label}
          </span>
        )}
      </li>
    ))
  }
</ul>
