---
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import ProfilePicture from '~/assets/images/profile_picture.jpeg';
import GithubIcon from '~/assets/icons/github.svg';
import TextListWithIcons from '~/components/text_list_with_icons.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const filterByLang = ({ id }: { id: string }) => id.startsWith(`${lang}/`);
const skills = (await getCollection('skills')).sort((a, b) =>
  a.data.index > b.data.index ? 1 : -1,
);
const projects = await getCollection('projects', filterByLang);
const experiences = await getCollection('experiences', filterByLang);

export async function getStaticPaths() {
  return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{t('title')}</title>
  </head>
  <body class="flex flex-col">
    {/* Add little button in top right corner to switch language */}
    <aside
      class="bg-primary text-text-tertiary flex flex-col p-8 pb-4 justify-center"
    >
      <h1 class="text-4xl text-center">Younès Ziadi</h1>
      <h2 class="text-2xl text-center">{t('position')}</h2>
      <hr class="m-4" />
      <img
        src={ProfilePicture.src}
        width={ProfilePicture.width}
        height={ProfilePicture.height}
        alt="Younès Ziadi"
        class="rounded-full"
      />

      <section id="contact">
        <TextListWithIcons
          title={t('contact_me')}
          data={[
            {
              icon: GithubIcon,
              label: 'Zuruuh',
              alt: 'Github username',
              link: 'https://github.com/Zuruuh',
            },
          ]}
        />
      </section>

      <section id="skills">
        <TextListWithIcons
          title={t('skills')}
          data={skills.map(({ data: skill }) => ({
            icon: skill.icon,
            alt: `${skill.name} logo`,
            label: skill.name,
          }))}
        />
      </section>
    </aside>

    <section id="experiences">
      <h3>{t('experiences')}</h3>
      <ul>
        {
          experiences.map(({ data: experience }) => (
            <li>
              <div>
                <span>{experience.name}</span>
                <img
                  src={experience.logo.src}
                  width={24}
                  height={24}
                  alt={`${experience.name} logo`}
                />
              </div>
              <span>{experience.position}</span>
              {/* TODO: complete this */}
            </li>
          ))
        }
      </ul>
    </section>

    <section id="personnal-projects">
      <h4 class="text-lg">{t('personnal_projects')}</h4>
      <ul>
        {
          projects.map(({ data: project }) => (
            <li>
              <a href={project.repository}>
                <h5>{project.title}</h5>
              </a>
              <ul>
                {project.stack.map((tool) => (
                  <li>
                    <img
                      src={tool.icon.src}
                      height={24}
                      width={24}
                      alt={`${tool.name} logo`}
                    />
                    <span>{tool.name}</span>
                  </li>
                ))}
              </ul>
              <ul>
                {project.tasks.map((task) => (
                  <li>{task}</li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </section>
  </body>
</html>
