---
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

import TextListWithIcons from '~/components/text_list_with_icons.astro';
import TechStackList from '~/components/tech_stack_list.astro';

import ProfilePicture from '~/assets/images/profile_picture.jpeg';
import GithubIcon from '~/assets/icons/github.svg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const filterByLang = ({ id }: { id: string }) => id.startsWith(`${lang}/`);
const skills = (await getCollection('skills')).sort((a, b) =>
  a.data.index > b.data.index ? 1 : -1,
);
const projects = await getCollection('projects', filterByLang);
const experiences = await getCollection('experiences', filterByLang);

export async function getStaticPaths() {
  return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{t('title')}</title>
  </head>

  <body class="flex flex-col">
    <aside
      class="bg-primary text-text-tertiary flex flex-col p-8 pb-4 justify-center"
    >
      <h1 class="text-4xl text-center">Younès Ziadi</h1>
      <h2 class="text-2xl text-center">{t('position')}</h2>
      <hr class="m-4" />
      <img
        src={ProfilePicture.src}
        width={ProfilePicture.width}
        height={ProfilePicture.height}
        alt="Younès Ziadi"
        class="rounded-full"
      />

      <section id="contact">
        <TextListWithIcons
          title={t('contact_me')}
          data={[
            {
              icon: GithubIcon,
              label: 'Zuruuh',
              alt: 'Github username',
              link: 'https://github.com/Zuruuh',
            },
          ]}
        />
      </section>

      <section id="skills">
        <TextListWithIcons
          title={t('skills')}
          data={skills.map(({ data: skill }) => ({
            icon: skill.icon,
            alt: `${skill.name} logo`,
            label: skill.name,
          }))}
        />
      </section>
    </aside>

    <main class="p-2">
      <section id="experiences" class="text-lg">
        <h4 class="text-lg text-primary">{t('experiences')}</h4>
        <ul>
          {
            experiences.map(({ data: experience }, i, { length }) => (
              <li class:list={[{ ['pb-2']: i + 1 !== length }]}>
                <div class="flex items-center">
                  <img
                    src={experience.logo.src}
                    width={24}
                    height={24}
                    alt={`${experience.name} logo`}
                  />
                  <span class="text-lg">{experience.name}</span>
                  <span class="text-sm ms-2 text-text-secondary">
                    - {experience.position}
                  </span>
                </div>
                <div class="p-2">
                  <span>{t('tech_stack')}:</span>
                  <TechStackList stack={experience.stack} />
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <section id="personnal-projects">
        <h4 class="text-lg text-primary">{t('personnal_projects')}</h4>
        <ul>
          {
            projects.map(({ data: project }, i, { length }) => (
              <li class:list={[{ ['pb-4']: i + 1 !== length }]}>
                <div class="flex items-center flex-wrap">
                  <a href={project.repository} class="flex items-center me-2">
                    <img
                      src={GithubIcon.src}
                      width={24}
                      height={24}
                      alt="Github"
                      class="me-1"
                    />
                    {project.title}:
                  </a>
                  <TechStackList stack={project.stack} />
                </div>
                <ul>
                  {project.tasks.map((task) => (
                    <li class="text-sm text-text-secondary">- {task}</li>
                  ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
